@import url('https://fonts.googleapis.com/css?family=Quattrocento|Vidaloka|Volkhov');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Great+Vibes|Tangerine');

/* global */
body {
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Vidaloka', serif;
    font-family: 'Volkhov', serif;
    font-family: 'Quattrocento', serif;
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    max-width: 600px;
}

/* header */
header {
    background: #bc3c56;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    line-height: 1;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .title {
    float: left;
}

header .title h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}
#tagline {
    font-family: 'Dancing Script', 'Great Vibes', 'Tangerine', cursive;
}

header .current a {
    color: #35395a;
    font-weight: bold;
}

header a:hover {
    color: #8b8787;
    font-weight: bold;
}

/* section */

section .container {
    padding: 20px;
}

#projects h2 {
    background: rgb(238,174,174);
    background: radial-gradient(
        circle,
        rgba(238,174,174,1) 7%, 
        rgba(148,187,233,1) 98%);
    color: rgb(58, 57, 54);
}

.project-name {
    padding-left: 10px;
}

/* media query */

@media(max-width: 768px) {
    header .title,
    header nav,
    header nav li {
        float: none;
        text-align: center;
        width: 100%;
    }

    header nav {
        padding-bottom: 20px;
    }

    section h2 {
        font-size: 24px;
    }
    img {
        width: 100%;
        height: auto;
    }

}
